.formContainer {
  padding: 0 25%;
  height: fit-content;
}

.formTitleContainer {
  display: flex;
  justify-content: center;
}

.formTitle {
  margin-top: 60px;
  height: 55px;
  font-size: 27px;
  font-weight: 500;
  color: rgb(54, 54, 54);
  border-bottom: 3px #d67d5a solid;
}

.formInput {
  width: 100%;
  border: none;
  border-bottom: 1px gray solid;
  margin-top: 50px;
  padding: 10px 0;
}

.formFile {
  display: none;
}

.formFileLabel {
  margin-top: 50px;
  cursor: pointer;
  border: 1px gray solid;
  padding: 10px;
  font-size: 15px;
  border-radius: 10px;
}

.fileName {
  margin-top: 10px;
  font-size: 14px;
  padding-left: 5px;
}

.orangeButton {
  background-color: #d67d5a;
  border: none;
  color: white;
  border-radius: 10px;
  height: 50px;
  width: 180px;
}

.saveButtonContainer {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  padding-bottom: 20px;
}

textarea:focus, input:focus, select:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

.errors {
  color: red;
  margin-top: 10px;
  font-size: 18px;
}