.homeButtonsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.buttonSelected {
  border: none;
  border-bottom: 3px #d67d5a solid;
  background: transparent;
  margin: 10px;
  font-size: 20px;
  font-weight: 500;
  height: 50px;
  cursor: pointer;
  color: rgb(54, 54, 54);
}
.buttonUnselected {
  border: none;
  background: transparent;
  margin: 10px;
  font-size: 20px;
  font-weight: 500;
  height: 50px;
  cursor: pointer;
  color: gray;
}

.homeContentContainer {
  padding: 0 250px;
  height: 100%;
}

.petsContainer {
  display: flex;
  height: 100vh;
  flex-wrap: wrap;
  column-gap: 7.5rem;
}

.homeContainer {
  height: 100vh;
}
